    
<footer>
    <div class="footer-main">
        <div class="footer-top">
            <h1>Scatch</h1>
            <div class="footer-top-sub">
                <a href="/shop"><h3>Shop Now</h3></a>
                <a href=""><h3>About Us</h3></a>
                <a href=""><h3>Contact Us</h3></a>
                <a href=""><h3>FAQ</h3></a>
                <a href=""><h3>Returns</h3></a>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <h4 class="footer-heading">&copy;2024 Scatch.All rights reserved</h4>
            <div class="footer-bottom-sub">
                <a href=""><h4>Privacy Policy</h4></a>
                <a href=""><h4>Terms and Conditions</h4></a>
                <a href=""><h4>Cookie Policy</h4></a>
            </div>
        </div>
    </div>
</footer>