<style>
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 60px;
    }
    .logo h1{
        font-weight: 500;
        font-size: 2.5vw;
        color: rgb(0, 115, 255);
    }
    .links h3{
        font-weight: 400;
        font-size: 1.3vw;
    }
    .links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
    .links a{
        text-decoration: none;
        color: black;
    }
    hr{
        border: 1px solid rgba(0, 0, 0, 0.26);
        margin: 0;
        padding: 0;
    }
</style>
<nav>
    <div class="logo">
        <h1>Scatch</h1>
    </div>
    <div class="links">
        <a href="#"><h3>Cart</h3></a> 
        <a href="#"><h3>Login</h3></a>
        <a href="#"><h3>Signup</h3></a>  
    </div>
</nav>
<hr>