<style>
    nav a{
        text-decoration: none;
        color: none;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 60px;
    }
    .logo h1{
        font-weight: 500;
        font-size: 2.5vw;
        color: rgb(0, 115, 255);
    }
    .links h3{
        font-weight: 400;
        font-size: 1.3vw;
    }
    .links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
    .links a{
        text-decoration: none;
        color: black;
    }
    hr{
        border: 1px solid rgba(0, 0, 0, 0.26);
        margin: 0;
        padding: 0;
    }
    @media (max-width:1200px) {
        nav .logo h1{
            font-size: 4vw;
        }
        nav .links h3{
            font-size: 2vw;
        }
    }
    @media (max-width: 920px) {
        nav .logo h1{
            font-size: 4.8vw;
        }
        nav .links h3{
            font-size: 2.7vw;
        }   
    }
    @media (max-width: 560px) {
        nav .logo h1{
            font-size: 7vw;
        }
        nav .links h3{
            font-size: 4vw;
        }   
        nav{
            padding: 20px 30px;
        }
        .links{
            gap: 20px;
        }
    }
</style>
<nav>
    <div class="logo">
        <a href="/shop"><h1>Scatch</h1></a>
    </div>
    <div class="links">
        <% if(currUser && currUser.role == "user"){%>
            <a href="/shop/orders"><h3>Orders</h3></a>
            <a href="/shop/cart"><h3>Cart</h3></a>
        <% } %>
        <% if(currUser && currUser.role == "admin"){ %>
            <a href="/admin"><h3 style="color: #007BFF; font-weight: 500; font-size: 25px;">Admin panel</h3></a>    
        <% } %> 
        <% if(!currUser){ %>
            <a href="/login"><h3>Login</h3></a>
            <a href="/signup"><h3>Signup</h3></a>  
        <% }else { %>
            <a href="/logout"><h3>Logout</h3></a>  
        <% } %>
    </div>
</nav>
<hr>