*{
    font-family: Outfit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* Index -- shop */

.shop{
    padding: 10px 60px;
    margin-top: 30px;
}

.product-list{
    margin-top: 80px;
    padding: 0 60px;
}
.product-list-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}
.product-card{
    height: 350px;
    width: 260px;
    border-radius: 7px;
    overflow: hidden;
}
.product-img{
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img img{
    max-width: 100%;
    max-height: 100%;
}
.product-panel{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.product-text h4{
    font-weight: 500;
    font-size: 1.3vw;
}
.product-text p{
    font-weight: 500;
    font-size: 1.1vw;
    margin-top: 7px;
}
.product-text .discount{
    font-weight: 600;
    background-color: #a4826f;
    padding: 3px 10px;
    border-radius: 30px;
    font-size: 1vw;
    margin-left: 8px;
    color: #F4DDD2;
}
.product-cart {
    align-self: center;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
}
.product-cart button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2vw;
}
.product-added{
    background-color: green;
}
.product-added button{
    cursor: not-allowed;
}
@media (max-width:1200px) {
    .product-list{
        padding: 0px;
    }
    .shop{
        padding: 10px 10px;
    }
    .product-list-flex{
        justify-content: center;
    }
    .product-text h4{
        font-size: 1.9vw;
    }
    .product-text p{
        font-size: 1.6vw;
    }
    .product-text .discount{
        font-size: 1.3vw;
    }
    .product-cart button{
        font-size: 1.5vw;
    }
}
@media (max-width:920px) {
    .product-list-flex{
        gap: 30px;
    }
    .product-text h4{
        font-size: 20px;
    }
    .product-text p{
        font-size: 18px;
    }
    .product-text .discount{
        font-size: 12px;
    }
    .product-cart button{
        font-size: 18px;
    }
}
@media (max-width:560px) {
    .product-list-flex{
        gap: 30px;
    }
}

/* Login and signup */
nav{
    padding: 15px 60px;
}
.logo h1{
    font-weight: 500;
    font-size: 2.5vw;
    color: rgb(0, 115, 255);
}   
.login-container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container{
    margin-top: 60px;
    height: 500px;
    width: 500px;
    border: 1px solid rgba(99, 99, 99, 0.452);
    box-shadow: 1px 1px 4px rgba(61, 61, 61, 0.454);
    padding: 20px 50px;
}
.login-container h1{
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
}
.login-container input{
    width: 26vw;
    height: 2vw;
    padding: 18px 15px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid black;
    background-color: #f8f6f6;
}
.login-container button{
    padding: 6px 16px;
    font-size: 1.2vw;
    background-color: #007BFF;
    color: white;
    font-weight: 300;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 50px;
}
.login-container a{
    text-decoration: none;
    color: black;
    font-size: 1.1vw;
}
.login-container a:hover{
    text-decoration: underline;
}
.login-container a span,
.login-container h1 span{
    color: #007BFF;
    font-weight: 600;
}
.login-container h3{
    font-weight: 500;
    font-size: 1.3vw;
}
@media (max-width:1200px) {
    .login-container input{
        width: 35vw;
    }
    .login-container h3{
        font-size: 2vw;
    }
    .login-container a{
        font-size: 1.8vw;
    }
    .login-container button{
        font-size: 1.8vw;
    }
}
@media (max-width:920px) {
    .login-container input{
        width: 46vw;
    }
    .login-container h3{
        font-size: 2.7vw;
    }
    .login-container a{
        font-size: 2.5vw;
    }
    .login-container button{
        font-size: 2.4vw;
    }
}
@media (max-width:520px) {
    .login-container{
        height: 400px;
        width: 55vh;
    }
    .login-container input{
        width: auto;
    }
    .login-container h3{
        font-size: 4vw;
    }
    .login-container a{
        font-size: 4vw;
    }
    .login-container button{
        font-size: 4.2vw;
    }
}

/* Flasg msg */
.message{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}
.alert-box{
    position: relative;
    width: 400px;
    height: 80px;
    background-color: white;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft {
    100%{
        transform: translateX(0%);
    }
}
.alert-box i{
    margin: 0 20px;
    font-size: 35px;
    color: green;
}
.alert-box::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: green;
    animation: anim 3s linear forwards;
}
.alert-box-err::after{
    background-color: red;
}
@keyframes anim {
    100%{
        width: 0;
    }
}

/* admin panel */
.admin-container{
    width: 100%;
    height: 86vh;
}
.admin-flex{
    width: 100%;
    height: 100%;
    display: flex;
}
.admin-left{
    width: 20%;
    height: 100%;
    border-right: 2px solid rgba(164, 164, 164, 0.37);
}
.admin-right{
    width: 80%;
    height: 100%;
    padding: 70px 100px;
}
/* Add section */
.admin-left .admin-left-flex{
    margin-top: 50px;
    margin-left: 50px;
}
.admin-left-flex .admin-left-sub{
    height: 40px;
    border: 1px solid black;
    display: flex;
    margin-bottom: 30px;
    border-right: none;
    align-items: center;
    padding: 15px;
}
.admin-left-sub:active{
    background-color: #007BFF;
}
.admin-left-sub a{
    text-decoration: none;
    color: black;
}
.admin-left-sub img{
    height: 22px;
    width: 22px;
    margin-right: 10px;
}
.admin-right-container{
    padding: 0px 80px;
}
.admin-right-container .product-form{
    margin-top: 30px;
}
/* Admin add product form */
.product-form input[type=text]{
    height: 2vw;
    padding: 18px 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #f8f6f6;
}
.product-form .pn{
    width: 28vw;
}
.product-form .pp,
.product-form .pd{
    width: 13vw;
    margin-right: 15px;
}
.product-form label{
    font-size: 22px;
    display: inline-block;
    padding: 7px 25px;
    font-size: 1.1vw;
    background-color: #007BFF;
    color: white;
    font-weight: 300;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid black;
    margin-left: 20px;
} 
.form-file{
    display: flex;
    position: relative;
    align-items: center;
}
.form-file h3{
    font-weight: 400;
}
.form-file input[type=file]{
    position: absolute;
    z-index: -1;
    left: 170px;
    font-size: 15px;
}
.product-form .panel-details{
    margin-top: 30px;
}
.panel-details h2{
    margin-bottom: 15px;
}
.admin-right-container h2{
    font-weight: 400;
}
.product-form button{
    padding: 7px 30px;
    font-size: 1.2vw;
    background-color: #007BFF;
    color: white;
    font-weight: 300;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 30px;
}
.product-form .error {
    color: #ff3860;
    font-size: 13px;
    height: 13px;
    margin-bottom: 10px;
    padding-top: 2px;
}
.panel-details p{
    margin-bottom: 10px;
    font-size: 14px;
    padding-left: 5px;
    color: red;
}
.admin-left-flex .admin-left-sub.active {
    background-color: #007bff;
    color: white;
}


/* footer */
footer{
    margin-top: 200px;
    padding: 40px 50px;
    min-height: 20vw;
    width: 100%;
}
.footer-top h1{
    font-weight: 500;
    color: #007BFF;
    text-align: center;
    font-size: 2.8vw;
}
.footer-top-sub{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.footer-top-sub a{
    text-decoration: none;
    color: black;
}
.footer-top-sub a h3{
    font-weight: 400;
    font-size: 1.5vw;
}
.footer-top-sub a:hover{
    text-decoration: underline;
}
footer hr{
    margin-top: 50px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
    flex-wrap: wrap;
}
.footer-bottom-sub{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer-bottom-sub a{
    text-decoration: underline;
    color: black;
}
.footer-bottom-sub a h4{
    font-weight: 400;
}
.footer-bottom h4{
    font-weight: 400;
}
@media (max-width:920px) {
    footer .footer-main h1{
        font-size: 5vw;
    }
    footer .footer-top-sub h3{
        font-size: 2.5vw;
    }   
}
@media (max-width:520px) {
    footer .footer-main .footer-bottom .footer-bottom-sub{
        margin-top: 20px;   
    }
    footer .footer-main h1{
        font-size: 8vw;
    }
    footer .footer-top-sub h3{
        font-size: 4vw;
    }
    footer{
        padding: 40px 20px;
    }
}


/* List item */
.admin-right .list-heading h2{
    font-weight: 400;
}
.admin-right .list-table-container{
    margin-top: 20px;
}
.admin-right .list-table-heading{
    width: 100%;
    background-color: #f9f9f9;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.183);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.list-table-heading h4{
    font-weight: 500;
}
.admin-right .list-table-one{
    display: flex;
    align-items: center;
    gap: 130px;
}
.admin-right .list-table-two{
    display: flex;
    align-items: center;
    gap: 70px;
}
.admin-right .list-table-item{
    padding: 0 50px;
}
.admin-right .list-table-item{
    width: 100%;
    background-color: white;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.183);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.list-table-img{
    height: 70px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.list-table-img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}
.list-table-item-one{
    display: flex;
    align-items: center;
    gap: 100px;
}
.list-table-item-two{
    display: flex;
    align-items: center;
    gap: 95px;
}
.list-table-item-two button{
    border: none;
    background-color: transparent;
}
.list-table-item-two i{
    font-size: 1.3vw;
    padding-right: 20px;
    cursor: pointer;
}
.list-table-item h4{
    font-weight: 400;
}

/* Cart */

.cart-container{
    padding: 0px 100px;
    margin-top: 50px;
}
.cart-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
.cart-heading h3{
    font-weight: 400;
}
.quantity-control p{
    padding: 8px 15px;
    border: 1px solid black;
}
.quantity-control button{
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: 200;
    margin: 0 10px;
    cursor: pointer;
}
.cart-h-q{
    width: 80px;
}
.cart-h-t{
    width: 10px;
}

.cart-items{
    display: flex;
    align-items: center;
    padding: 20px 100px;
    justify-content: space-between;
}

.cart-items h3{
    font-weight: 400;
    width: 50px;
}
.quantity-control{
    display: flex;
}
.cart-img{
    height: 70px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.cart-img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}
.cart-x-button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
}

/* Cart -- mobile */
.cart-container-mobile{
    display: none;
    width: 100%;
}
.cart-container-mobile .empty-m p{
    font-size: 4vw;
}
.cart-container-mobile .empty-m a button{
    font-size: 4vw;
}
.cart-main-m{
    padding: 20px;
    width: 100%;
}
.cart-products-m{
    display: flex;
    margin: 20px 0;
}
.cart-products-m .cart-img-m{
    height: 70px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    object-position: center;
}
.cart-img-m img{
    width: 100%;
    height: 100%;
}
.cart-items-sub-m{
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.cart-items-m{
    width: 100%;
}
.cart-items-sub-m h3{
    font-weight: 400;
}
.cart-items-sub-m .quantity-control-m{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 30px;
    width: 70px;
    border: 1px solid rgba(0, 0, 0, 0.58)
}
.cart-items-sub-m .quantity-control-m button{
    background-color: transparent;
    border: none;
    font-size: 5vw;
}
.cart-price-m{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.cart-price-m .cart-original-price-m{
    font-weight: 300;
}
.cart-price-m .cart-total-price-m{
    font-weight: 500;
}
.cart-remove-m{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 3.8vw;
    font-weight: 300;
}
@media (max-width:1200px) {
    .cart-container{
        padding: 0px;
    }
    .cart-bill .cart-bill-two .cart-promo{
        padding: 50px;
        padding-top: 50px;
        padding-right: 0;
    }
}
@media (max-width:920px) {
    .cart-items{
        padding: 20px 30px;
    }
    .cart-container .empty-cart p,
    .cart-container .empty-cart button
    {
        font-size: 3vw;
    }
    .cart-img{
        width: 60px;
    }
    .quantity-control button{
        font-size: 25px;
    }
    .quantity-control p{
        padding: 3px 8px;
    }
    .cart-heading{
        padding: 30px 30px;
    }
    .cart-items .p-name{
        word-wrap: break-word;
    }
    .cart-wrap .cart-bill{
        padding: 20px 20px;
        flex-wrap: wrap-reverse;
    }
    .cart-bill-two .cart-promo button{
        font-size: 2.5vw;
        
    }
    .cart-bill-two .cart-promo input{
        font-size: 2.2vw;
        width: 40vw;
    }
    .cart-bill-one .checkout-button{
        font-size: 2vw;
    }
    .cart-bill .cart-bill-two .cart-promo{
        padding: 20px;
    }
    .cart-wrap .cart-bill-one{
        padding: 20px;
    }
}

@media (max-width:520px) {
    .cart-bill-two .cart-promo button{
        font-size: 3.8vw;        
    }
    .cart-bill-two .cart-promo input{
        font-size: 3vw;
        width: 45vw;
    }
    .cart-bill-one .checkout-button{
        font-size: 3.5vw;
    }
    .cart-container{
        display: none;
    }
    .cart-container-mobile{
        display: block;
    }
}
/* Cart-bill */

.cart-bill{
    margin-top: 100px;
    padding: 20px 120px;
    display: flex;
}
.cart-bill-one{
    width: 100%;
    padding: 20px 30px;

}
.cart-bill-one h1{
    font-weight: 400;
}
.cart-bill-title{
    margin-top: 20px;
}
.cart-bill-title .cart-bill-sub{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
.cart-bill-sub h4{
    font-weight: 400;
}
.cart-bill-sub .final-total{
    font-weight: 600;
}
.cart-bill-one a{
    text-decoration: none;
}
.cart-bill-one button{
    padding: 7px 30px;
    font-size: 1.2vw;
    background-color: #007BFF;
    color: white;
    font-weight: 300;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 30px;
}
.cart-bill-two{
    width: 100%;
}
.cart-promo{
    padding: 50px;
}
.cart-promo h3{
    font-weight: 400;
}
.cart-promo input{
    padding: 5px 10px;
    width: 25vw;
    height: 35px;
    margin-top: 20px;
    background-color: rgb(234, 234, 234);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.1vw;
}
.cart-promo button{
    padding: 6px 30px;
    font-size: 1.2vw;
    background-color: #000000;
    color: white;
    font-weight: 300;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 10px;
}
.cart-promo button:hover{
    opacity: 0.8;
}
.empty-cart{
    text-align: center;
    padding: 200px 0;
}
.empty-cart p{
    font-size: 1.7vw;
}
.empty-cart button{
    padding: 7px 30px;
    font-size: 1.4vw;
    background-color: #007BFF;
    color: white;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 30px;
}

/* user's order */
.order-container{
    padding: 50px 120px;
}
.order-main{
    padding: 20px 100px;
}
.order-main h1{
    font-weight: 400;
}
.order-main .order-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    display: flex;
    padding: 20px 30px;
    border: 2px solid rgb(147, 147, 147);
}
.order-item .order-status{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #007BFF;
}
.order-item h4{
    font-weight: 500;
}
.order-s{
    display: flex;
    align-items: center;
    gap: 10px;
}
.order-item button{
    padding: 8px 20px;
    background-color: #dfefff;
    border: 1px solid rgba(0, 0, 0, 0.555);
    cursor: pointer;
}
.order-productname{
    display: flex;
    align-items: center;
    gap: 20px;
}
.order-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}
.order-empty h2{
    font-weight: 400;
}  
@media (max-width:1200px) {
    .order-main{
        padding: 20px;
    }
}
@media (max-width:920px) {
    .order-container{
        padding: 50px 10px;
    }
}
@media (max-width:560px) {
    .order-main .order-item{
        flex-wrap: wrap;
        gap: 20px;
    }
}
/* Order page - admin */

.order-container-a{
    border: 2px solid rgb(147, 147, 147);
    padding: 20px 40px;
    margin-bottom: 30px;
}
.order-container-flex-a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.order-item-a{
    display: flex;
    gap: 20px;
    align-items: center;
}
.username{
    margin-left: 80px;
    margin-top: 20px;
}
.order-heading-a{
    margin-bottom: 30px;
    font-weight: 400;
}
.order-container-a h4{
    font-weight: 500;
}
.order-container-flex-a{
    select {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        background-color: #dcedff;
        color: #333;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    select:focus {
        border-color: #007bff;
        outline: none;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    
    select option {
        padding: 10px;
        background-color: #fff;
        color: #333;
    }
    
    select option:hover {
        background-color: #007bff;
        color: #fff;
    }
    form:active select {
        background-color: #007bff;
        color: #fff;
    }
}