*{
    font-family: Outfit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
/* Index -- shop */

.shop{
    padding: 10px 60px;
    margin-top: 30px;
}

.product-list{
    margin-top: 80px;
    padding: 0 60px;
}
.product-list-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}
.product-card{
    height: 350px;
    width: 260px;
    border-radius: 7px;
    overflow: hidden;
}
.product-img{
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-img img{
    max-width: 100%;
    max-height: 100%;
}
.product-panel{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
.product-text h4{
    font-weight: 500;
    font-size: 1.3vw;
}
.product-text p{
    font-weight: 500;
    font-size: 1.1vw;
    margin-top: 7px;
}
.product-text .discount{
    font-weight: 600;
    background-color: #a4826f;
    padding: 3px 10px;
    border-radius: 30px;
    font-size: 1vw;
    margin-left: 8px;
    color: #F4DDD2;
}
.product-cart {
    align-self: center;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50%;
}
.product-cart button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2vw;
}

/* Login and signup */
nav{
    padding: 15px 60px;
}
.logo h1{
    font-weight: 500;
    font-size: 2.5vw;
    color: rgb(0, 115, 255);
}   
.login-container-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container{
    margin-top: 60px;
    height: 500px;
    width: 500px;
    border: 1px solid rgba(99, 99, 99, 0.452);
    box-shadow: 1px 1px 4px rgba(61, 61, 61, 0.454);
    padding: 20px 50px;
}
.login-container h1{
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
}
.login-container input{
    width: 26vw;
    height: 2vw;
    padding: 18px 15px;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid black;
    background-color: #f8f6f6;
}
.login-container button{
    padding: 6px 16px;
    font-size: 1.2vw;
    background-color: #007BFF;
    color: white;
    font-weight: 300;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 50px;
}
.login-container a{
    text-decoration: none;
    color: black;
    font-size: 1.1vw;
}
.login-container a:hover{
    text-decoration: underline;
}
.login-container a span,
.login-container h1 span{
    color: #007BFF;
    font-weight: 600;
}
.login-container h3{
    font-weight: 500;
    font-size: 1.3vw;
}

/* Flasg msg */
.message{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}
.alert-box{
    position: relative;
    width: 400px;
    height: 80px;
    background-color: white;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    transform: translateX(100%);
    animation: moveleft 0.5s linear forwards;
}
@keyframes moveleft {
    100%{
        transform: translateX(0%);
    }
}
.alert-box i{
    margin: 0 20px;
    font-size: 35px;
    color: green;
}
.alert-box::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: green;
    animation: anim 3s linear forwards;
}
.alert-box-err::after{
    background-color: red;
}
@keyframes anim {
    100%{
        width: 0;
    }
}

/* admin panel */
.admin-container{
    width: 100%;
    height: 86vh;
}
.admin-flex{
    width: 100%;
    height: 100%;
    display: flex;
}
.admin-left{
    width: 20%;
    height: 100%;
    border-right: 2px solid rgba(164, 164, 164, 0.37);
}
.admin-right{
    width: 80%;
    height: 100%;
    padding: 70px 100px;
}
/* Add section */
.admin-left .admin-left-flex{
    margin-top: 50px;
    margin-left: 50px;
}
.admin-left-flex .admin-left-sub{
    height: 40px;
    border: 1px solid black;
    display: flex;
    margin-bottom: 30px;
    border-right: none;
    align-items: center;
    padding: 15px;
}
.admin-left-sub:active{
    background-color: #007BFF;
}
.admin-left-sub a{
    text-decoration: none;
    color: black;
}
.admin-left-sub img{
    height: 22px;
    width: 22px;
    margin-right: 10px;
}
.admin-right-container{
    padding: 50px 80px;
}
.admin-right-container .product-form{
    margin-top: 30px;
}
.product-form input[type=text]{
    height: 2vw;
    padding: 18px 15px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #f8f6f6;
}
.product-form .pn{
    width: 28vw;
}
.product-form .pp,
.product-form .pd{
    width: 13vw;
    margin-top: 15px;
    margin-right: 15px;
}
.product-form label{
    font-size: 22px;
    display: inline-block;
    padding: 7px 25px;
    font-size: 1.1vw;
    background-color: #007BFF;
    color: white;
    font-weight: 300;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid black;
    margin-left: 20px;
} 
.form-file{
    display: flex;
    position: relative;
    align-items: center;
}
.form-file h3{
    font-weight: 400;
}
.form-file input[type=file]{
    position: absolute;
    z-index: -1;
    left: 170px;
    font-size: 15px;
}
.product-form .panel-details{
    margin-top: 30px;
}
.panel-details h2{
    margin-bottom: 15px;
}
.admin-right-container h2{
    font-weight: 400;
}
.product-form button{
    padding: 7px 30px;
    font-size: 1.2vw;
    background-color: #007BFF;
    color: white;
    font-weight: 300;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid black;
    margin-top: 30px;
}
.admin-left-flex .admin-left-sub.active {
    background-color: #007bff;
    color: white;
}
footer{
    margin-top: 200px;
    padding: 40px 50px;
    min-height: 20vw;
    width: 100%;
}
.footer-top h1{
    font-weight: 500;
    color: #007BFF;
    text-align: center;
    font-size: 2.8vw;
}
.footer-top-sub{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
.footer-top-sub a{
    text-decoration: none;
    color: black;
}
.footer-top-sub a h3{
    font-weight: 400;
}
.footer-top-sub a:hover{
    text-decoration: underline;
}
footer hr{
    margin-top: 50px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}
.footer-bottom-sub{
    display: flex;
    gap: 20px;
}
.footer-bottom-sub a{
    text-decoration: underline;
    color: black;
}
.footer-bottom-sub a h4{
    font-weight: 400;
}
.footer-bottom h4{
    font-weight: 400;
}

/* List item */
.admin-right .list-heading h2{
    font-weight: 400;
}
.admin-right .list-table-container{
    margin-top: 20px;
}
.admin-right .list-table-heading{
    width: 100%;
    background-color: #f9f9f9;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.183);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.list-table-heading h4{
    font-weight: 500;
}
.admin-right .list-table-one{
    display: flex;
    align-items: center;
    gap: 130px;
}
.admin-right .list-table-two{
    display: flex;
    align-items: center;
    gap: 70px;
}
.admin-right .list-table-item{
    padding: 0 50px;
}
.admin-right .list-table-item{
    width: 100%;
    background-color: white;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.183);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}
.list-table-img{
    height: 70px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.list-table-img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}
.list-table-item-one{
    display: flex;
    align-items: center;
    gap: 100px;
}
.list-table-item-two{
    display: flex;
    align-items: center;
    gap: 95px;
}
.list-table-item-two button{
    border: none;
    background-color: transparent;
}
.list-table-item-two i{
    font-size: 1.3vw;
    padding-right: 20px;
    cursor: pointer;
}
.list-table-item h4{
    font-weight: 400;
}

/* Cart */

.cart-container{
    padding: 0px 100px;
    margin-top: 50px;
}
.cart-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
.cart-heading h3{
    font-weight: 400;
}
.quantity-control p{
    padding: 8px 15px;
    border: 1px solid black;
}
.quantity-control button{
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: 200;
    margin: 0 10px;
    cursor: pointer;
}
.cart-items{
    display: flex;
    align-items: center;
    padding: 20px 100px;
    gap: 115px;
}
.cart-items h3{
    font-weight: 400;
}
.quantity-control{
    display: flex;
}
.cart-img{
    height: 70px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.cart-img img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}
.cart-x-button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
}
.cart-item-margin{
    display: flex;
    align-items: center;
    gap: 150px;
    margin-left: 40px;
}
