<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheet/style.css">
    <style> 
        .error{
            padding: 100px;
            display: flex;
            justify-content: center;
        }
        .error-main{
            border: 1px solid black;
            height: 100%;
            width: 50%;
            text-align: center;
            padding: 50px;
            border-radius: 20px;
            background-color: rgb(242, 239, 239);
        }
        .error-main h1{
            color: red;
            font-size: 4vw;
        }
        .error-main p{
            font-size: 1.8vw;
            margin-bottom: 50px;
        }
        .error-main a{
            text-decoration: none;
            padding: 7px 30px;
            font-size: 1.2vw;
            background-color: #007BFF;
            color: white;
            font-weight: 300;
            border-radius: 25px;
            cursor: pointer;
            border: 1px solid black;
        }
        .error-main a:hover{
            cursor: pointer;
        }
        .fh{
            margin-bottom: 300px;
        }
        @media (max-width:920px) {
            .error-main h1{
                font-size: 8vw;
            }
            .error-main p{
                font-size: 3.8vw;
            }
            .error-main a{
                font-size: 2.5vw;
            }
            .error-main{
                width: auto;
            }
        }
        @media (max-width:560px) {
            .error-main h1{
                font-size: 10vw;
            }
            .error-main p{
                font-size: 5.8vw;
            }
            .error-main a{
                font-size: 3.5vw;
            }
            .error-main{
                width: auto;
            }
            .error{
                padding: 100px 20px;
            }
        }
    </style>
    <title>Scatch</title>
</head>
<body>
    <%- include("./includes/navbar.ejs") %>
    <%- include("./includes/flash.ejs") %> 
    <div class="error">
        <div class="error-main">
            <% if(status == 404){ %>
                <h1><%= status %></h1>
            <% }else{ %>
                <h1>Oops!</h1>
            <% } %>
            <p><%= message %></p>
            <a href="/shop">Go to Home</a>
        </div>
    </div>
</body>
</html>
