<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./stylesheet/style.css">
    <title>Scatch</title>
    <style>
        .login-container h1{
            margin-bottom: 40px;
        }
        .login-container button{
            margin-bottom: 30px;
        }
        .login-container{
            height: 510px;
        }
    </style>
</head>
<body>
    <body>
        <%- include("../includes/flash.ejs") %>
        <nav>
            <div class="logo">
                <h1>Scatch</h1>
            </div>
        </nav>
        <hr>
        <div class="login-container-flex">
            <div class="login-container">
                <h1>Welcome to <span>Scatch</span></h1>
                <h3>Create your account</h3>
                <br>
                <form action="/signup" method="post">
                    <input type="text" placeholder="username" name="username">
                    <br>
                    <input type="email" placeholder="email" name="email">
                    <br>
                    <input type="password" placeholder="Password" name="password">
                    <br>
                    <button>Signup</button>
                </form>
                <a href="/login">Already have an account? <span>Log in</span></a>
            </div>
        </div>
        <script src="./js/alert.js"></script>    
    </body>
</body>
</html>